.App {
  border: 1px solid #eee;
  min-width: 720px;
}

.add-todo {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  padding-left: 40px;
  border: none;
  border-bottom: 1px solid #eee !important;
  height: 53px;
}

.App {
  display: block;
}

.todos {
  width: 100%;
}

.todo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: pointer;
}

.todo .completeInput {
  width: fit-content;
  outline: none;
  margin: 0px !important;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0px 12px !important;
  cursor: pointer;
}

.todo label {
  display: block !important;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  padding: 16px 0px;
}

.todo .completed {
  text-decoration: line-through;
  opacity: 0.2;
}

.add-container {
  position: relative;
}

.add-container svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0px, -50%);
  cursor: pointer;
}

.todos svg {
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
  height: 53px;
  visibility: hidden;
}

.todo:hover > svg {
  visibility: visible;
}

.edit-todo {
  width: 100%;
  width: 100% !important;
  border-radius: 4px !important;
}

.info {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f46b;
}

.info p {
  font-size: 14px;
}

.info button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
.disable {
  cursor: no-drop !important;
}
.disable:hover {
  border: 1px solid transparent !important;
  background-color: transparent !important;
}
.info button:hover {
  border: 1px solid rgb(228, 228, 228);
  background-color: #fff;
}

h2 {
  font-size: 100px;
  color: red;
  opacity: 0.3;
  margin: 0;
  text-align: center;
  font-weight: 400;
}
